<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link  href="{% static '/css/About.css' %}" rel="stylesheet" >
</head>
<body>
    {% include "NavBar.html" %}
    <h2>Mi nombre es Renzo Gola, soy un profesor de 21 años muy apasionado, comenzando a adentrarme en el mundo de la programacion, actualmente estoy interesado en aprender backend, pero en algun momento me gustaria llegar a ser full stack </h2>
</body>
</html>