<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Andro@meda</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link  href="{% static 'css/inicio.css' %}" rel="stylesheet" >
    </head>
    <body>
        <!-- Navigation-->
        {% include "navbar.html" %}
        
        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5">Donde tus ideas, se hacen realidad</h1>
                            
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Image Showcases-->
        <section class="showcase">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../static/Images/Spiderman.jpg')"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>Cuadros hechos a mano</h2>
                        <p class="lead mb-0">Contenido de los cuadros 100% personalizado, realizados en bastidores de tela o fibrofacil</p>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-lg-6 text-white showcase-img" style="background-image: url('../static/Images/BadBunny.jpg?raw=true')"></div>
                    <div class="col-lg-6 my-auto showcase-text">
                        <h2>Tiempos de entrega</h2>
                        <p class="lead mb-0">Los pedidos tardan entre 10 a 15 dias en ser entregados</p>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../static/Images/Imagen\ de\ WhatsApp\ 2024-10-09\ a\ las\ 12.16.14_68c93569.jpg')"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>Info Ilustraciones</h2>
                        <p class="lead mb-0">Las ilustraciones son a partir de una imagen de referencia, estas poseen fondos lisos o con hojas/flores</p>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Call to Action-->
        <section class="call-to-action text-white text-center" id="signup">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        
        </section>
        <!-- Footer-->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="{% url 'store' %}">Tienda</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="{% url 'registro' %}">Registrarse</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="{% url 'loginsito' %}">Iniciar Sesion</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="{% url 'about' %}">About</a></li>
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">&copy; Andromeda 2024. Todos los derechos reservados</p>
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item me-4">
                                <a href="#!"><i class="bi-facebook fs-3"></i></a>
                            </li>
                            <li class="list-inline-item me-4">
                                <a href="#!"><i class="bi-twitter fs-3"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!"><i class="bi-instagram fs-3"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
