<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andro@meda</title>
    <link  href="{% static '/css/registro.css' %}" rel="stylesheet" >
</head>
<body>
    {% include "NavBar.html" %}
    <h1 class="titulo">Iniciar Sesion</h1>
    <div class="registro">
    <form action="{% url 'loginsito' %}"  class="registroform" method="post">{% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="Button">Iniciar Sesion</button>
    </form>
    </div>
</body>
</html>