<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="" alt="logo del emprendimiento">
            <h2 class="nombre-emprendimiento">Andr@meda</h2>
        </div>
        <nav>
            <a href="" class="nav-link">Inicio</a>
            <a href="" class="nav-link">About</a>
            <a href="" class="nav-link">Registrarse</a>
            <a href="" class="nav-link">Iniciar Sesion</a>
        </nav>
    </header>
</body>
</html>