<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andr@meda</title>
    <link  href="{% static '/css/styles.css' %}" rel="stylesheet" >
    <link  href="{% static '/css/navbar.css' %}" rel="stylesheet" >
    
</head>

<body>
    <header>
        <a href="{% url 'Inicio' %}" class="logonavbar">
            <img src="https://github.com/RenziGN/Entrega_FinalGola/blob/main/Entrega_Final/Static/Images/Andromeda%20version%20nueva%20png.png?raw=true" alt="logo del emprendimiento">
        </a>
        <nav>
            <a href="{% url 'Inicio' %}" class="nav-link">Inicio</a>
            <a href="{% url 'store' %}" class="nav-link">Tienda</a>
            
            {% if user.is_authenticated %}
                <p class="nav-link">Bienvenido {{ user.username }}</p>
                <form action="{% url 'Logout' %}" method="post" >{% csrf_token %}    
                    <button class="nav-link" type="submit">Cerrar sesión</button>
                    <a class="nav-link" type="submit" href="{% url 'editarperfil' %}">Editar Perfil</a>   
                </form>
            {% else %}
                <a class="nav-link" href="{% url 'registro' %}">Registrarse</a>
                <a class="nav-link" href="{% url 'loginsito' %}">Iniciar Sesión</a> 
            {% endif %}
            
            <a href="{% url 'about' %}" class="nav-link">About</a>
        </nav>
        <div class="profile_pic">
            {% if url %}
            <img src= "{{url}}" height="50px" width="50px" alt="avatar">
            {% endif %}
        </div>
            
                   
    </header>