<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andro@meda</title>
    <link  href="{% static '/css/styles.css' %}" rel="stylesheet" >
    <link  href="{% static '/css/navbar.css' %}" rel="stylesheet" >
</head>
<body>
    <h1>Este es un listado de las diferentes paginas que podremos encontrarnos en esta web:</h1>
    <a href="{% url 'Inicio' %}" class="">Inicio</a>
    <br>
    <a href="{% url 'store' %}" class="">Tienda</a>
    <br>
    <a href="{% url 'registro' %}" class="">Registro</a>
    <br>
    <a href="{% url 'loginsito' %}" class="">Login</a>
    <br>
    <a href="{% url 'about' %}" class="">About</a>
    <br>
    <a href="{% url 'Logout' %}" class="">Logout</a>
    <br>
    <a href="{% url 'verusuarios' %}" class="">Ver Usuarios</a>
    <br>
    <a href="{% url 'editarperfil' %}" class="">Editar Perfil</a>
    <br>
    <a href="{% url 'AgregarAvatar' %}" class="">Agregar Avatar</a>
    <br>
    <a href="{% url 'Nopage' %}" class="">No Page</a>
    <br>
    <a href="{% url 'pages' %}" class="">Pages</a>
</body>
</html>