<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="item">
        <figure>
            <img src="../Static/Images/Spiderman.jpg">
        </figure>
        <div>
            <div class="info-producto">
                <h2>Cuadro Spiderma&Gwen</h2>
                <p class="price">$22800</p>
                <button>Añadir al carrito</button>
            </div>
        </div>
    </div>
</body>
</html>